/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 #banner h1 {
  font-size: 50px;
  color: white;
  font-family: lato;
}

#banner p {
  font-size: 25px;
  font-weight: 100;
}