/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

$duration: 2s;
$delay: 1s;

$initial-top: -20px;
$initial-opacity: 0;

$final-opacity: 1;
$final-top: 0;

@keyframes fadeInHome {
  0% {
    opacity: $initial-opacity;
    top: $initial-top;
  }

  100% {
    opacity: $final-opacity;
    top: $final-top;
  }
}

@-webkit-keyframes fadeInHome {
  0% {
    opacity: $initial-opacity;
    top: $initial-top;
  }

  100% {
    opacity: $final-opacity;
    top: $final-top;
  }
}

@-moz-keyframes fadeInHome {
  0% {
    opacity: $initial-opacity;
    top: $initial-top;
  }

  100% {
    opacity: $final-opacity;
    top: $final-top;
  }
}


.fadeInHome {
  position: relative;
  top: $initial-top;
  opacity: $initial-opacity;
  animation: fadeInHome $duration $delay ease forwards;
  -webkit-animation: fadeInHome $duration $delay ease forwards;
  -moz-animation: fadeInHome $duration $delay ease forwards;
}